---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import AboutContentEn from '../config/en/about.mdx'

const font = {
  family: 'Fira Code',
  href: 'https://github.com/tonsky/FiraCode',
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Debug Myself; then Fix Me...</h1>
      <AboutContentEn />
      <p>Here are some ideas about this website:</p>
      <ul>
        <li>
          <a href={font.href}>
            {font.family}
          </a>
           : open-source monospaced sans-serif font (most popular on GitHub)
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
