---
import HeaderLink from '@/components/HeaderLink.astro'
import { SITE_TITLE } from '@/consts'
import SocialLinks from '@/components/SocialLinks.astro'

const routes = [
  {
    pathname: '/',
    name: 'Home',
  },
  {
    pathname: '/blog',
    name: 'Blog',
  },
  {
    pathname: '/tag',
    name: 'Tags',
  },
  {
    pathname: '/readme',
    name: 'ReadMe',
  },
]
---

<header>
  <nav>
    <h2 class="text-flip"><a href="/">{SITE_TITLE}</a></h2>
    <div>
      {
        routes.map((route) => (
          <HeaderLink href={route.pathname}>{route.name}</HeaderLink>
        ))
      }
    </div>
    <SocialLinks />
  </nav>
</header>
<style>
  header {
    grid-column: 1 / -1;
    --uno: grid;
    /* grid-template-columns: 1fr 3fr 1fr; */
    grid-template-columns: 1fr 2fr 1fr;
    border-bottom: var(--b-solid);
    border-color: var(--gray);

    nav {
      --uno: flex items-center justify-between;
      grid-column: 2 / -2;

      /* &::before,
      &::after {
        --uno: content-none;
      }
      &::before {
      }
      &::after {
      } */

      a {
        --uno: decoration-none;

        &.active {
          color: var(--accent);
          text-decoration: var(--accent) wavy underline;
          text-underline-position: under;
        }

        &:hover {
          --uno: fw-bold c-[var(--black)] bg-[var(--accent)];
        }
      }
    }
  }
</style>
