---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import SocialLinks from '@/components/SocialLinks.astro'

const routes = [
  {
    pathname: '/',
    name: 'Home',
  },
  {
    pathname: '/blog',
    name: 'Blog',
  },
  {
    pathname: '/readme',
    name: 'ReadMe',
  },
]
---

<header>
  <nav>
    <h2 class="text-flip"><a href="/">{SITE_TITLE}</a></h2>
    <div>
      {
        routes.map((route) => (
          <HeaderLink href={route.pathname}>{route.name}</HeaderLink>
        ))
      }
    </div>
    <SocialLinks />
  </nav>
</header>
<style>
  header {
    margin-top: 1rem;
    padding: 0 1rem;
    background: transparent;
    box-shadow: 0 2px 8px rgba(var(--accent), 5%);
  }
  h2 {
    margin: 0;
  }
  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 0.1rem 0.5rem;
    color: var(--white);
    text-decoration: none;
  }
  nav a.active {
    color: var(--accent);
    text-decoration: var(--accent) wavy underline;
  }
  nav a:hover {
    color: var(--black);
    background-color: var(--accent);
  }
</style>
